* {
    margin: 0%;
    padding: 0%;
    border: none;
    text-decoration: none !important;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav {
    background-color: #1c1c1b;
    padding: 0px 0px;
    width: 100%;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 999;
}

nav .nav-one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 40px;
}

nav .nav-one img {
    width: 30%;
    display: flex;
    margin: auto;
}

nav div .nav-one .nav-left {
    display: flex;
}

nav div .nav-one .nav-left a {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 20px;
}

nav div .nav-one .nav-left a span {
    margin-right: 10px;
}

nav div .nav-one .nav-left .hov-orn:hover {
    color: #ff5f00;
}

nav div .nav-one .nav-left .spa-0 {
    background-color: white;
    border-radius: 50%;
    padding: 0px 8px;
}

nav div .nav-one .nav-left a img {
    width: 20%;
    border-radius: 50%;
    margin: 0px 10px;
}

nav div .nav-one .nav-right a {
    color: white;
    font-weight: 700;
    margin-right: 10px;
    font-size: 18px;
    text-transform: capitalize;
}

nav div .nav-one .nav-right a:hover {
    color: #ff5f00;
}

nav div .nav-two div {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

/* nav div .nav-two div {
} */

nav div .nav-two div a {

    margin: 0px 10px;
}

nav div .nav-two div a img {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid transparent 2px;
}

nav div .nav-two div a img:hover {
    border-radius: 50%;
    border: solid #ff4f00 2px;
}

nav div .nav-two div a img:hover {
    opacity: 1;
    transition: 1s;
}

.offers button {
    background-color: #ff4f00;
    left: 100%;
}

.offers {
    width: 100%;
    margin: auto;
}

.title {
    color: #ff4f00;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
}

.rwo {
    /* width: calc((100% - 30px) / 3); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.rwo img {
    width: calc((100% - 100px) / 3);
    padding: 10px;
}

.icon-a {
    background-color: #ff4f00;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    margin-left: 90%;
}


.card {
    border: none;
    margin-bottom: 20px;
}

.card img {
    margin: auto;
    width: 30%;
}

.card img:hover {
    opacity: 1;
    transition: 1s;
    width: 60%;
}

.card-body {
    background-color: #d9d9d956;
}

h5 {
    font-size: 20px;
    font-weight: 600;
}

.card-body p {
    color: #a4a4a4;
}

.last {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}



.last .last-p {
    padding: 30px 5%;
    width: 100%;
    background-color: #ff4f00;
    font-size: 40px;
    font-weight: 500;
    color: white;
    margin-bottom: -20px;
}

/* 
.last div {
    width: 100%;
    color: white;
    font-size: 40px;
    font-weight: 500;
} */

.last .con-footer {
    background-color: #1c1c1b;
    width: 100%;
    /* display: flex; */
}

.last .con-footer img {
    width: 100%;
}

.last .last-img {
    display: flex;
    /* height: 100px; */
    position: absolute;
    right: 5%;
    top: 10px;
    height: 125%;
}

.last .con-footer .last-img img {
    width: 65%;
    padding: 30px 5%;
    margin-right: 80px;
    display: flex;
    margin-left: auto;
    transform: translateY(-240px);
    /* z-index: 0; */
}

.last .con-footer .con-h1 {
    padding: 30px 5%;
    width: 60%;
}


.last .con-footer .con-h1 h1 {
    color: #ff4f00;

}

/* .last .con-footer .con-h1 p {} */

.last .con-footer .con-h1 p,
h1 {
    color: white;
}

/* .last .last-img img{
    width: 300px;
} */

.foter {
    display: flex;
}

.foter-img {
    width: 50%;
    display: flex;
}

.hr-span {
    width: 100%;
    padding: 1px;
    color: #1c1c1b;
}

footer {
    background-color: #1c1c1b;
    border-top: solid 1px white;
    /* transform: translateY(-410px); */
    margin-bottom: 0px;
}

footer img {
    width: 30%;
}

footer .con-foot {
    display: flex;
}

footer .con-foot {
    padding: 20px 4%;
}

footer .con-foot div {
    width: 20%;
}

footer .con-foot div a {
    display: block;
    color: white;
    margin-bottom: 10px;
    text-transform: capitalize;
}

footer .con-foot div p {
    color: white;
    text-transform: capitalize;
}

footer .con-foot div a:hover {
    color: #ff4f00;
}

footer .con-foot div a img {
    border-radius: 50%;
    width: 20px;
    margin-left: 10px;
}

footer .con-icon {
    display: flex;
    justify-content: end;

}

footer .con-icon a {
    margin-right: 10px;
    font-size: 25px;
    color: white;
}


/* nerd */

.con-bu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff5f00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff4f00;
}

.nav-two {
    width: 100%;
    overflow: auto;
}

@media (min-width:0px) and (max-width:800px) {

    .nav-right,
    .nav-left {
        display: none !important;
    }

    .last .last-img {
        display: none !important;
    }

    .last .con-footer .con-h1 {
        width: 100%;
    }
}


@media (min-width:0px) and (max-width:600px) {

    main {
        display: none;
    }

    .rwo img {
        width: calc((100% - 30px)/2);
    }
}